.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.container__left {
    width: 23%;
    border: 1px solid red;
}

.left__side--icons {
    width: 40px;
    padding-right: 10px;
}

.left__section--menu {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.left__section--menu:hover {
    background-color: #F0F2F5;
}


.left__side--options {
    padding-top: 5px;
}

.left__section--links {
    width: 400px;
    font-size: 15px;
    margin-left: 25px;
    color: #65676B;
}

.link__tags {
    text-decoration: none;
    color: #65676B;
}

.straight-line {
    height: 2px;
    background-color: #65676B;
}

.container__center {
    width: 39%;
    border: 2px solid orange;
}

.container__right {
    width: 29%;
    border: 2px solid greenyellow;
}